[Unit]
Description=canerp16

[Service]
Type=simple
PermissionsStartOnly=true
User=root2
ExecStart=/bin/bash /home/www/w_open/open_canerp_project/codes/v1.0_canerp16/w_lin/start.sh

#StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
